.cust-button{
    color: white;
    background-color: transparent;
    height: fit-content;
    width: auto;
    font-size: 1.6rem;
    font-family: monospace;
    cursor: pointer;
    border: 1px solid cadetblue;
    padding: 20px 20px;
   

    
}
.button-prev{
    position: absolute;
        left: 10px;
        top: 7px;
}
.button-next{
    position: absolute;
    right: 10px;
    top: 7px;
}
@media screen and (min-width:768px) {
    button{
        margin:10px
    }
    .button-prev,
    .button-next{
        position: initial;
    }
}
