.quizCard{
    height: fit-content;
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    padding: 20px 16px;
    width: 90%;
    font-family: monospace;
    font-size: 1.6rem;
    min-width: 70vw;
}
.options{
    display: flex;
    flex-direction: column;
    margin: 25px 0;
}
.question{
    text-align: left;
}
.submit{
    background-color: cadetblue !important;
    border-radius: 20px;
}
@media screen and (min-width:768px) {
    .quizCard{
        padding: 20px 60px;
    }
    .options{
        margin-top: 25px;
    }
}